services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://{{ gitlab_external_url }}:{{ gitlab_http_port }}'
        gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }}
        
        registry_external_url 'http://{{ gitlab_external_url }}:5050'
        gitlab_rails['registry_enabled'] = true
        registry_nginx['listen_port'] = 5050
        registry_nginx['listen_https'] = false 

    ports:
      - "{{ gitlab_http_port }}:80"
      - "{{ gitlab_ssh_port }}:22"
      - "5050:5050"
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/-/health"]
      interval: 30s
      timeout: 10s
      retries: 5
