pm_api_url      = "https://192.168.1.77:8006/api2/json"
pm_api_token_id = "user@pve!mytoken"
pm_api_token_secret = "ur_token"

virtual_machines = {
  "prod"   = { id = 201, cores = 1, memory = 1024, size = 10, ip = "192.168.1.201/24" }
  "stage"  = { id = 202, cores = 1, memory = 1024, size = 10, ip = "192.168.1.202/24"}
  "runner" = { id = 203, cores = 3, memory = 3072, size = 20, ip = "192.168.1.203/24"}
  "gitlab" = { id = 204, cores = 4, memory = 6144, size = 50, ip = "192.168.1.204/24"}
}
