#SPDX-License-Identifier: MIT-0
---
# tasks file for secure
- name: Install UFW
  apt:
    name: ufw
    state: present
    update_cache: yes

- name: Reset UFW to default (deny all incoming)
  ufw:
    state: reset

- name: Allow SSH (Port 22)
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Allow HTTP (Port 80)
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow HTTPS (Port 443)
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled

- name: Disable SSH Password Authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  notify: Restart SSH

- name: Disable Root Login via Password
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin prohibit-password'
    state: present
  notify: Restart SSH
